<?xml version="1.0"?>
<!--
/**
 * @author GreenRivers Team
 * @copyright Copyright (c) 2020 GreenRivers
 * @package GreenRivers_Webp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webp>
            <general>
                <enabled>1</enabled>
            </general>
            <settings>
                <algorithm>webp</algorithm>
                <quality>75</quality>
            </settings>
            <conversion>
                <convert_product_images>0</convert_product_images>
            </conversion>
        </webp>
    </default>
</config>
