<?xml version="1.0"?>
<!--
/**
 * @author Unexpected Team
 * @copyright Copyright (c) 2020 Unexpected
 * @package Unexpected_Webp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webp>
            <general>
                <enable>1</enable>
            </general>
            <settings>
                <algorithm>webp</algorithm>
                <quality>75</quality>
            </settings>
            <conversion>
                <convert_upload>0</convert_upload>
            </conversion>
        </webp>
    </default>
</config>
