<?xml version="1.0"?>
<!--
/**
 * @author GreenRivers Team
 * @copyright Copyright (c) 2020 GreenRivers
 * @package GreenRivers_Webp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\Image">
        <plugin name="GreenRivers_Webp::Block_Image" type="GreenRivers\Webp\Plugin\Block\Product\Image"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="GreenRivers_Webp::Block_Gallery" type="GreenRivers\Webp\Plugin\Block\Product\View\Gallery"/>
    </type>
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="GreenRivers_Webp::CustomerData_AbstractItem"
                type="GreenRivers\Webp\Plugin\CustomerData\AbstractItem"/>
    </type>
</config>