<?xml version="1.0"?>
<!--
/**
 * @author GreenRivers Team
 * @copyright Copyright (c) 2020 GreenRivers
 * @package GreenRivers_Webp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GreenRivers_Webp::webp"
             title="GreenRivers Webp"
             module="Magento_Backend"
             sortOrder="30"
             parent="Magento_Backend::content"
             resource="GreenRivers_Webp::webp"/>

        <add id="GreenRivers_Webp::convert"
             title="Conversion"
             module="GreenRivers_Webp"
             sortOrder="10"
             parent="GreenRivers_Webp::webp"
             action="greenrivers_webp/conversion"
             resource="GreenRivers_Webp::convert"/>
    </menu>
</config>
